/* day-2 style */

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        scroll-behavior: smooth;
    }
    body
    {
        /* border: 2px solid; */
        width: 70%;
        margin: auto;
    }

    /* top-header styling */
    #top-header
    {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-bottom: 1px solid;
    }
    .social-icon>a
    {
        color: #5A5A5A;
        padding: 5px 10px;
        border-right: 1px solid;
    }
    .search-bar>input
    {
        border: none;
        border-left: 1px solid;
        color: #5A5A5A;
        padding: 2px 0px 0px 10px;
        font-family: "Fira Sans",sans-serif;
        font-weight: bold;
    }
    input:focus{
        outline: none;
    }
    #top-header>#search-bar>a
    {
        color: #5A5A5A;
    }

    /* logo section styling */
    #logo-block
    {
        margin-top: 10px;
        text-align: center;
    }
    #logo-block>div
    {
    margin-top: 5px;
    }
    #logo-block>div>a
    {
        font-size: 13px;
        color: #5a5a5aaf;
        margin: 0px 10px;
        font-weight: bold;
    }
    #logo-block>div>a:nth-child(odd)
    {
        color: #133B5A;
        font-weight: bold;
    }

    /* navbar styling */
    #navbar
    {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #navbar>a
    {
        color: #5a5a5ab8;
        font-weight: bold;
    }
    #navbar>a:hover
    {
        color: #282828;
    }
    #navbar>button
    {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
    #navbar>.unsubscribe,#subbtn
    {
        background: #FFC000;
    }
    #navbar>.subscribe
    {
        background-color: red;
        color: white;
    }
    #navbar>button:hover
    {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #navbar>button:nth-last-child(3)
    {
        background: #00419B;
        color: white;
    }
    #navbar>button:nth-last-child(1)
    {
        background-color: white;
        color: blue;
        border: 1px solid;
    }

/* day-3 styling */

    /* line styling */
    .line
    {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .line>hr
    {
        width: 80%;
    }
    .line>a
    {
        color: #133B5A;
        font-size: 1.5rem;
        font-weight: bold;
    }
    /* trending styling */ 
    #trending-news
    {
        /* border: 2px solid; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
    #trending-news>div
    {
        /* border: 2px solid; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        margin: 10px;
    }
    #trending-news>div>div
    {
        padding: 10px;
        font-size: 1.1rem;
        margin: auto;
    }
    #trending-news>div>div>h3
    {
        color: #133B5A;
    }
    #trending-news>div>img
    {
        width: 40%;
    }
    #trending-news>div:nth-child(1)
    {
        grid-row: 1/span 3;
        display: block;
        background-color: #133B5A;
        color: white;
    }
    #trending-news>div:nth-child(1)>div>h3
    {
        color: white;
    }
    #trending-news>div:nth-child(1)>img
    {
        width: 100%;
        height: 50%;
    }

    /* justin styling */
    #justin
    {
        margin-top:10px;
        background-color: #E5E5E2;
        display: flex;
        align-items: center;
        position: relative;
    }
    #justin-logo
    {
        
        position: absolute;
        top: 10px;
        left: 5px;
        background-color: red;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        height: 50px;
        width: 50px;
        color: white;
        padding-top: 19px;
    }
    #justin>button
    {
        font-size: 5rem;
        background: none;
        border: none;
        color: grey;
        cursor: pointer;
    }
    #justin>#justin-news
    {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
    }
    #justin>#justin-news>div
    {
        display: flex;
    }
    #justin>#justin-news>div>.justin-no
    {
        font-size: 30px;
        margin: 0px 5px;
        color: grey;
    }
    #justin>#justin-news>div>p>a,.justin-time
    {
        color: red;
    }

    /* multimedai styling */
    #multiMedia-news
    {
        /* border: 2px solid; */
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4,1fr);
    }
    #multiMedia-news>div
    {
        border: 2px solid;
        position: relative;
        background-color: #282828;
        color: white;
    }
    #multiMedia-news>div>img
    {
        width: 100%;
        height: 100%;
    }
    #multiMedia-news>div>p
    {
        position: absolute;
        bottom: 5px;
        margin: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    #multiMedia-news>div:nth-child(1)
    {
        grid-column: 1/2 span;
    }
    #multiMedia-news>div:nth-child(2)
    {
        grid-column: 3/2 span;
    }
    #multiMedia-news>div:nth-child(1)>p,#multiMedia-news>div:nth-child(2)>p
    {
        position: relative;
    }
    #multiMedia-news>div:nth-child(1)>img,#multiMedia-news>div:nth-child(2)>img
    {
        height: 80%;
    } 

/* day-4 styling */

    /* main-news styling */
    .main-news
    {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .main-news>div>.line>hr
    {
        width: 60%;
    }
    .main-news>div>div:not(:nth-child(1))
    {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 10px;
    }
    .main-news>div>div>img
    {
        width: 20%;
        margin: 10px;
    }
    .main-news>div>div:nth-child(2)
    {
        position: relative;
        display: block;
    }
    .main-news>div>div:nth-child(2)>img
    {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .main-news>div>div:nth-child(2)>p
    {
       position: absolute;
       padding: 5%;
       bottom: 20px;
       color: white;
       font-weight: bold;
    }

    /* slider styling */
    #slider
    {
        margin-top: 10px;
        display: flex;       
        grid-gap: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        align-items: center;
        padding: 20px 5px;
    }
    #slider>button
    {
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }
    #slider>div
    {
        display: flex;
        grid-gap: 10px;
    }   
    #slider>div>div
    {
        width: 30%;
    }
    #slider>div>div>img
    {
        width: 100%;
    }

/* day-5 styling */

    /* footer styling */
    #footer-share
    {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    #footer-share>img
    {
        width: 40%;
    }
    #footer-links
    {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 20px 0px;
    }
    #footer-links>ul
    {
        list-style: none;
    }
    #footer-links>ul>li
    {
        font-size: 1rem;
        color: grey;
        padding: 5px;
        cursor: pointer;
    }
    #footer-links>ul>li:nth-child(1)
    {
        color: #00419B;
        font-weight: bold;
    }
    .vertical-line
    {
        border-right: 1px dotted;
    }

    /* media query */
    @media only screen and (max-width: 1000px) {
        *
        {
            font-size: 0.9rem;
        }
        #navbar>button
        {
            margin: 5px;
            padding: 5px 8px;
        }
        #trending-news,#multiMedia-news,.main-news
        {
            grid-template-columns: repeat(1,1fr);
        }
        #justin>#justin-news
        {
            grid-template-columns: repeat(1,1fr);
            margin-top: 50px;
        }
        #justin-logo
        {
            left: 40%;
        }
        #justin>#justin-news>div
        {
            margin: 10px 0px;
        }
        #multiMedia-news>div:nth-child(1),#multiMedia-news>div:nth-child(2)
        {
            grid-column: auto;
        }
        #top-header,#navbar>a,#slider,#footer-share,#justin>button
        {
            display: none;
        }
        #footer-links
        {
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        #logo-block>img
        {
            width: 100%;
        }
      }
      